@define-color selected-text #A00000;
@define-color text #ffffff;
@define-color base #121212;
@define-color border #A00000;
@define-color foreground #bebebe;
@define-color background #333333;

.box-wrapper {
  border-radius: 16px;
}

.search-container {
  background: transparent;
  border-radius: 14px;
}
