@define-color foreground #ffffff;
@define-color background #1A1C1B;
@define-color accent #b91c1c;

/* ( disable the these on ".config/waybar/style.css"  to use the custom styles

* 
background-color
color
font-family

- all #workspaces
) */
* {
  font-family: 'CaskaydiaMono Nerd Font';
}

#clock {
  font-weight: bold;
}

#waybar {
  background-color: alpha(@background, 0.8);
}

#custom-update {
  color: #19d14a;
}

#workspaces {
  background: transparent;
  padding: 10px 6px;
  margin-top: 0px;
  margin-bottom: 0px;
}

#workspaces button {
  min-width: 6px;
  min-height: 6px;
  padding: 1;
  margin: 0 6px;
  border-radius: 26px;
  background-color: alpha(@accent, 0.5);
  transition: all 0.15s ease-in-out;
}

#workspaces button.active,
#workspaces button:hover {
  background-color: @accent;
  min-width: 30px;
  border-radius: 26px;
  transition: all 0.15s ease-in-out;
}

#workspaces button.empty {
  background-color: @foreground;
  opacity: 0.5;
}

#workspaces button label {
  font-size: 0px;
}
